<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/fragments :: body}">
        <div th:fragment="content">
                <h2 th:text="${product.id != null} ? 'Edit Product ' : 'New Product'"></h2>
                <form th:action="${product.id != null} ? @{/products/update/{id}(id=${product.id})} : @{/products}" th:object="${product}" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="type" class="form-label">Type</label>
                        <select th:field="*{type}" class="form-select" required>
                            <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="material" class="form-label">Material</label>
                        <select th:field="*{material}" class="form-select" required>
                            <option th:each="material : ${materials}" th:value="${material.id}" th:text="${material.name}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="number" th:field="*{quantity}" min="1" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label">Price (€)</label>
                        <input type="number" th:field="*{price}" step="0.01" min="0.01" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea th:field="*{description}" class="form-control"></textarea>
                    </div>

                    <button type="submit" class="btn btn-success">Save</button>
                    <a th:href="@{/products}" class="btn btn-secondary">Cancel</a>
                </form>
        </div>
    </div>


</body>
</html>